.dblistheader {
	padding:0 0 0 7px;
	outline:none;
	text-transform:uppercase;
	font-size:10px;
	color:rgba(175,175,175,1.0)
}
.dblist {width:100%;line-height:17px;padding-bottom:6px}
.dblist ul {padding:0}
.dblist ul li {list-style-type:none}
.dblist ul li a {
	display:block;
	outline:none;
	border-width:1px 0 1px 1px;
	border-style:solid;
	border-color:transparent
}
.dblist ul li a .menutext {
	padding:1px 6px 0 0;
	margin-left:16px;
	border:0
}
.dblist ul li a .menutoggler {
	width:12px;
	height:14px;
	margin:3px 4px 0 2px;
	float:left;
	background:transparent url(../images/closedArrow.png) no-repeat 4px 3px
}
.dblist ul li a .menuicon {
	height:14px;
	margin:0 5px 0 6px;
	float:left;
	font-size:10px;
	padding-top:1px
}
.dblist ul li.expanded a .menutoggler{
	background:transparent url(../images/openArrow.png) no-repeat 3px 3px
}
.dblist ul li.expanded .sublist {display:block}
.sublist {border:0 !important;overflow:hidden}
.sublist li a {
	padding:1px 6px 0 22px !important;
	margin-left:7px;
	overflow-x:hidden
}
.sublist li.loading a {
	background:url(../images/loading.gif) no-repeat 0 0 !important;
}
.subcount {padding-left:5px;font-size:11px}
#toptabs {padding-top:7px;float:left}
#toptabs ul {padding:0}
#toptabs ul li {list-style-type:none;float:left}
#toptabs ul li a {margin:0 5px 0 15px;outline:none}
#toptabs ul li a .rowcount {font-weight:normal;padding-left:3px}
#toptabs ul li.selected a {cursor:default}
#toptabs ul li.deactivated a {cursor:default}
