html {	background:rgba(125,125,125,1.0) url(../images/shading.png)}
#header {
	background:url(../images/header.png) repeat-x bottom;
	border-bottom:1px solid rgba(150,150,150,1.0)
}
h3,h4 {color:steelblue}
#innercontent {
	background:white;
	border-color:rgba(75,75,75,1.0);
	border-width:0 2px;
	border-style:solid
}
.corners {background:rgba(75,75,75,1.0);height:2px}
.corners div {width:4px;height:4px;background-repeat:no-repeat}
.tl {background:url(../images/corner-tl.png);float:left}
.tr {background:url(../images/corner-tr.png);float:right}
.bl {background:url(../images/corner-bl.png);float:left;margin-top:-2px}
.br {background:url(../images/corner-br.png);float:right;margin-top:-2px}
#headerinfo a {
	color:rgba(215,215,215,1.0) !important;
	text-shadow:rgba(50,50,50,1.0) 0 1px 0
}
#headerinfo a:hover {color:#fff !important}
#loginform {padding:7px;background:url(../../../images/transparent.png)}
#loginform .loginspacer {background:white}
.dblistheader {
	color:rgba(220,220,220,1.0);
	text-shadow:rgba(75,75,75,1.0) 0px 1px 0px
}
.dblist ul li a .menutext {color:#fff}
.dblist ul li a .menuicon {color:rgba(220,220,220,1.0)}
.dblist ul li.selected>a {
	background:rgba(90,90,90,1.0) !important;
	border-color:rgba(70,70,70,1.0)
}
.sublist li a {color:#fff}
.subcount {color:rgba(200,200,200,1.0)}
#toptabs ul li a {
	color:rgba(215,215,215,1.0);
	text-shadow:rgba(50,50,50,1.0) 0 1px 0;
	font-weight:bold
}
#toptabs ul li a .rowcount {color:rgba(235,235,235,1.0)}
#toptabs ul li a:hover {color:#fff}
#toptabs ul li.selected a {
	color:#fff;
	font-weight:bold;
	text-shadow:rgba(50,50,50,1.0) 0 1px 0
}
#toptabs ul li.selected a .rowcount {color:rgba(235,235,235,1.0)}
#toptabs ul li.deactivated a {color:rgba(175,175,175) !important}
#toptabs ul li.deactivated a .rowcount {color:rgba(175,175,175,1.0) !important}
