body {
	background:rgba(255,255,255,1.0) url(../images/initLoad-dark.png) no-repeat 50% 125px
}

#header {background:rgba(80,80,80,1.0) url(../images/header.png) repeat-x}

#headerlogo {width:185px !important}
#leftside {width:205px !important;overflow-y:hidden}
#rightside {margin-left:205px !important}
#sidemenu {overflow-x:hidden}
#bottom {
	background:transparent url(../../../images/window-shadow-bottom.png) repeat-x scroll 0px -7px
}
#innercontent a {color:steelBlue}
#innercontent a:hover {color:rgba(50,50,50,1.0)}
h3, h4 {color:rgba(135,135,115,1.0);text-transform:uppercase;font-weight:normal}
h3 {font-size:12px}
h4 {border-bottom:1px solid rgba(210,210,210,1.0);line-height:1.3rem;font-size:14px}
#headerinfo a {color:rgba(200,200,200) !important;text-decoration:none}
#headerinfo a:hover {color:rgba(250,250,250,1.0) !important}
.grid {
	border-color:rgba(220,220,220,1.0) rgba(190,190,190,1.0) rgba(190,190,190,1.0) rgba(190,190,190,1.0)
}
.alternator {border-bottom-color:transparent;background:white}
.alternator2 {background:rgba(245,245,245,1.0)}
.highlighted {
	border-bottom-color:rgba(210,210,210,1.0) !important;
	background:rgba(230,230,215,1.0) !important
}
.paginator a {color:rgba(125,125,125,1.0) !important}
.dblistheader {color:rgba(150,150,150,1.0) !important}
.dblist {float:left}
.dblist ul li {float:left;clear:left}
.dblist ul li a {display:inline !important;border-width:0 !important}
.dblist ul li a .menutext {
	color:rgba(80,80,80,1.0);
	margin-left:0 !important;
	float:left
}
.dblist ul li a:hover .menutext {color:rgba(40,40,40,1.0)}
.dblist ul li a .menuicon {color:rgba(150,150,150,1.0) !important}
.dblist ul li.selected>a {font-weight:bold}
.sublist {float:left;clear:left;line-height:18px}
.sublist li a {color:rgba(80,80,80,1.0)}
.sublist li a:hover {color:rgba(40,40,40,1.0)}
.subcount {color:rgba(150,150,150,1.0)}
#loginform {padding:3px;border:1px solid rgba(200,200,200,1.0)}
#loginform .loginspacer {
background:#e9ebdf !important;padding:10px 15px 10px 11px !important}
.loginheader {border-bottom-color:rgba(200,200,200,1.0)}
#loginform .field {color:#777}
#toptabs ul li a {color:rgba(220,220,220,1.0)}
#toptabs ul li a .rowcount {color:rgba(175,175,175,1.0)}
#toptabs ul li a:hover {color:rgba(250,250,250,1.0)}
#toptabs ul li.selected a {color:rgba(250,250,250,1.0);font-weight:bold}
#toptabs ul li.selected a .rowcount {color:rgba(225,225,225,1.0)}
#toptabs ul li.deactivated a {color:rgba(135,135,135,1.0) !important}
#toptabs ul li.deactivated a .rowcount {color:rgba(175,175,175,1.0) !important}
